# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
venv/
env/
.env

# Docker
*.env
docker-compose.override.yml
pgdata/

# IDE / éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build / cache
*.egg-info/
dist/
build/

# Mobile / node
node_modules/

# Logs
logs/
