services:
  db:
    build:
      context: .
      dockerfile: docker/Dockerfile.db
    container_name: db_container
    image: postgres:16
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.web
    container_name: web_container
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+psycopg2://appuser:secret@db:5432/appdb
      DB_ECHO: "True"
    ports:
      - "8000:8000"

volumes:
  db_data:
